@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Entire DOM styling */
body {
    background: linear-gradient(rgb(33,40,148), rgb(86, 97, 245));
    font-size: 1rem;
    font-family: 'Electrolize', sans-serif;
    font-weight: normal;
    color: white;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* End entire DOM styling */

/* Search column styling */
#search-card {
    width: 18vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#search-label {
    display: flex;
    flex-direction: row;
}

#search {
    display: flex;
    justify-content: space-between;
}
/* End search column styling */

/* Center panel styling */
#center-panel {
    width: 78vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecast {
    width: 100%;
    height: 29%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forecast-card {
    background-color: royalblue;
    padding: 10px;
}

#current-weather {
    width: 100%;
    height: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

#location-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* End center panel styling */

/* Individual element Styling */


.borders {
    border-radius: 5px;
}

.cond-sub-el {
    padding: 1px;
}

#uv-index-low {
    background: green;
    padding: 1px;
    border: white solid 1px;
}

#uv-index-mod {
    background: orange;
    padding: 1px;
    border: white solid 1px;
}

#uv-index-high {
    background: red;
    padding: 1px;
    border: white solid 1px;
}
